<!DOCTYPE html>
<html lang="en">
  <head>
    <title>show</title>
    <link rel="stylesheet" href="../../public/styles/base.css">
    <link rel="stylesheet" href="../../public/styles/icons.css">
    <link rel="stylesheet" href="../../public/styles/layout.css">
    <link rel="stylesheet" href="../../public/styles//modules.css">
    <link rel="stylesheet" href="../../public/styles//reset.css">
  </head>
  <body>
    <main>
      <h4>Show List</h4>
    </main>
  </body>
</html>