<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head') %>
  <body>
    <%- include('../layout/header') %>
    <main>
      <h4>404 Page Not Found</h4>
      <div class="searchFormDiv">
        <img src="https://cdn.dribbble.com/users/215588/screenshots/909046/oops.png">
      </div>
    </main>
    <%- include('../layout/footer') %>
  </body>
</html>