<footer>
  <div class="container">
    <a href="https://github.com/Ahmad-Sawalqeh" target="_blank">GitHub</a>
    <a href="https://www.linkedin.com/in/ahmad-alsawalqeh/" target="_blank">Linkedin</a>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>