<footer>
      <ul>
            <li><span class="icon-github"><a href="https://github.com/Ahmad-Sawalqeh">GitHub</a></span></li>
            <li><span class="icon-linkedin2"><a href="https://www.linkedin.com/in/ahmad-alsawalqeh/">Linkedin</a></span></li>
      </ul>    
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  